---
import {skills} from "../../models/constants"
const sections = Object.keys(skills)
---
<div id="skills">
    <h2>My Skills</h2>
    <ul class="sections-container">
        {sections.map((section, i) => <li key={section}>
            <h4>{section}</h4>
            <ul class="section-container">
                { Array.from(skills[section]).map(([skill, icon]) => <li class="skill"><span set:html={icon}></span>{skill}</li>)}
            </ul>
        </li>)}
    </ul>
</div>
<style>
    h2{
        text-align: center;
    }
    .sections-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:4rem;
        @media screen and (max-width: 1300px) {
            grid-template-columns: 1fr;
        }
        &>li{
            display: flex;
            flex-direction: column;
            border: solid 1px var(--accent);
        }
        h4{
            text-align: center;
            color: var(--accent);
            text-transform: uppercase;
            margin: 0;
            padding: 1rem;
            border-bottom: solid 1px var(--accent);
        }
    }
    .section-container{
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 4rem;
        @media screen and (max-width: 1300px) {
            grid-template-columns: 1fr;
        }
        &>li{
            display: flex;
            flex-direction: column;
            align-items: center;

            svg{
                fill: white;
                height: 8rem;
                width: auto;
            }
        }
    }
    .skill{
        font-size: 1.2rem;
        text-transform: uppercase;
    }
</style>